<ion-header>
  <ion-navbar>
    <ion-title>Conta de jogador</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="hideLoginButton">
    <button ion-button color="dark" full (click)="facebookLogin()">Logar com o Facebook</button>
  </div>
  <ion-card *ngIf="userData">
      <img id="user-picture" [src]="userData.picture" />
      <ion-card-content>
        <ion-card-title align-items-center>
            {{ userData.username }}
        </ion-card-title>
        <p>Email: {{ userData.email }}</p>
      </ion-card-content>
      <ion-row no-padding>
        <ion-col text-right>
            <button ion-button clear small color="danger" icon-start>
                <ion-icon name='log-out'></ion-icon>
                Deslogar
            </button>
        </ion-col>
      </ion-row>
  </ion-card>
</ion-content>
